footer {
    background-color: #5c5a5a;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer ul li a:hover {
    color: #555;
  }
  